<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CorujETAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
   <header class="cabecalho container">
        <img class="cabecalho__mascote" src="{{ url_for('static', filename='img/corujeta-header.png') }}" alt="Mascote CorujETA">
        <img class="cabecalho__logo" src="{{ url_for('static', filename='img/logo-cultura-e-resultados-cores.png') }}" alt="Mascote CorujETA">
        <div class="cabecalho__acoes">
            
        </div>
   </header> 

   <hr/>

   <main class="main">
        <section class="chat container" id="chat">
            <p class="chat__bolha chat__bolha--bot">
                Olá! Eu sou a Ferramenta de IA CorujETA ~<br/><br/>
                Posso te ajuder com:

                1. Analisar os OKRs separando o Objetivo e os Resultados Chaves.
                2. Criar novos OKRs.
                3. Tirar dúvidas sobre OKRs e Metodolodias ágeis.
                4. Conversa livre sobre Metologias Ágeis ou OKRs.

                Sobre o que podemos conversar?
            </p>
        </section>
        <section class="entrada container">
            <div class="entrada__container">
                <button id="mais_arquivo" aria-label="Botão de mais opções">
                    <i class="icone icone--mais-opcoes"></i>
                </button>
                <input type="text" class="entrada__input" placeholder="Enviar uma mensagem" id="input">
                <button aria-label="Botão de enviar" id="botao-enviar">
                    <i class="icone icone--enviar-mensagem"></i>
                </button>
            </div>
        </section>
   </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
